[submodule "Core"]
	path = Core
	url = https://github.com/StrawberryDan/Core.git
[submodule "Discord"]
	path = Discord
	url = https://github.com/StrawberryDan/Discord.git
[submodule "Codec"]
	path = Codec
	url = https://github.com/StrawberryDan/Codec.git
